body{
background-color: #FC8EAC;
overflow: hidden;
margin: 0;

}

h1{
    color: #ffb6c1;
    text-align: center;
    font-size: clamp(30px, 6vw, 100px);
    margin-top: clamp(20px, 10vh, 300px);

}
.heart {
    position: fixed;
    top: -10px;
    color: #ff5cad;
    font-size: 200px;
    animation: fall linear forwards;
    pointer-events: none;
    z-index: 1;
  }
  
  @keyframes fall {
    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: translateY(110vh) rotate(360deg);
      opacity: 0;
    }
  }
